<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Controler</title>
    <!-- Include Plotly library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Symulacja </br> tempomatu samochodowego</h1>

    <div class="container">
        <!-- Left Column - Control Panel (Inputs) -->
        <div class="left-column">
            <div id="parameter-inputs">
                <label for="horsepower">Moc silnika [KM]:</label>
                <input type="number" id="horsepower" value="{{ initial_parameters.horsepower }}" placeholder="Wprowadź moc silnika pojazdu">

                <label for="mass">Mass [kg]:</label>
                <input type="number" id="mass" value="{{ initial_parameters.mass }}" placeholder="Wprowadź masę pojazdu">

                <label for="length">Długość [m]:</label>
                <input type="number" id="length" value="{{ initial_parameters.length }}" placeholder="Wprowadź długość pojazdu">

                <label for="width">Szerokość [m]:</label>
                <input type="number" id="width" value="{{ initial_parameters.width }}" placeholder="Wprowadź szerokość pojazdu">

                <label for="height">Wysokość [m]:</label>
                <input type="number" id="height" value="{{ initial_parameters.height }}" placeholder="Wprowadź wysokość pojazdu">

                <label for="speed">Prędkość [km/h]:</label>
                <div class="slider-container">
                    <div class="speed-box" id="speed_value">{{ initial_parameters.speed }}</div>
                    <input type="range" class="speed-slider" id="speed" min="30" max="200" value="{{ initial_parameters.speed }}">
                </div>

                <div>
                    <button onclick="updateData()">Generuj</button>
                </div>
            </div>
        </div>

         <!-- Right Column - Picture -->
        <div class="right-column">
            <img src="{{ url_for('static', filename='vehicle_picture.jpg') }}" alt="Vehicle Picture">
        </div>
    </div>

    <!-- Plots div -->
    <div id="plot-container">
        <div id="plot1"></div>
        <div id="plot2"></div>
        <div id="plot3"></div>
        <div id="plot4"></div>
    </div>

    <!-- Local .js file -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
